<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="wdth-device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a herf= "/">Tienda</a></li>
					<li><a herf= "/add-produc">Agregar product</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<h1>Mis productos</h1>
			<ul>
				<li>Lista de productos</li>
				<li>Lista de productos</li>
				<li>Lista de productos</li>
				<li>Lista de productos</li>
				<li>Lista de productos</li>
			</ul>
		</main>
	</body>
</html>
